* {
  margin: 0;
}
body {
  background: url(.\images\How-Much-Does-Pet-Sitter-Dog-Walker-Cost.jpg);
  background-color: rgba(250, 250, 250, 0.4);
  background-blend-mode: lighten;
  background-size: cover;
  background-attachment: fixed;
}
