* {
    margin: 0;
}
body{

  background: url(background.jpeg);
  background-color: rgba(250,250,250,0.4);
      background-blend-mode: lighten;
    background-size: cover;
    background-attachment: fixed;
}
.heading{
  color: black;
    text-align: center;
    font-size: 34px;
    margin-bottom: 21px;
    font-family: 'Amatic SC';
    display: inline-block;
    padding-left: 36%;
    padding-bottom: 35%;

}
.logo {
  opacity: 0.5;
  display: inline-block;
}
